<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Hello Thymeleaf</title>
    <link rel="stylesheet" href="/webjars/jquery-ui/1.11.4/jquery-ui.min.css" />
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/jquery-ui/1.11.4/jquery-ui.min.js"></script>
  </head>
  <body>

  	<p th:text="'Hello, ' + ${name} + '!'" />

    <dl th:each="hoge : ${hogeList}">
      <dt>id</dt>
      <dd th:text="${hoge.id}"></dd>

      <dt>value</dt>
      <dd th:text="${hoge.value}"></dd>
    </dl>
    <form>
    	<button>GO to Input</button>
    </form>
	<script>
	$( "button" ).button();
	$( "button" ).click(function(){
		 alert('hello world!');
		window.location = "/input";
	});
	</script>

  </body>
</html>