<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>必要なもの</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p>ほしいもの:</p>

    <p th:text="${resultsDesired}" />

<hr />

<p>欲しいもの追加:</p>

<form method="POST" action="/onedariPost">
  名前: <input type="text" name="name" /><br />
  必要なもの: <input type="text" name="desired" /><br />
  理由: <input type="text" name="reason" /><br />
  <input type="submit" value="登録" />
</form>

<hr />

	<p th:text="${resultsDesiredFind}" />

<p>idによる検索</p>
<form method ="POST" action = "/find">
	<span>id:</span><input type="text" name = "id" /><br />
	<input type="submit" value="検索" />
</form>

<hr />

	<p th:text="${resultsDesiredUpdate}" />

<p>idによる検索</p>
<form method ="POST" action = "/update">
	<span>id:</span><input type="text" name = "id" /><br />
	<span>理由:</span><input type="text" name = "reason" /><br />
	<input type="submit" value="変更" />
</form>

</body>
</html>